@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
@import "../styles/helpers/media";

$light-green: #49c9d4;
$dark-green: #3f505a;
$light-color: #fff;


h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'forma-djr-micro', sans-serif;
    box-sizing: border-box;
}
.wrap {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    max-width: 1600px;
      &_sale {
        padding: 0;
    }
}
.page-main {
    position: relative;
    min-height: 1075px;
    &__background {
        position: absolute;
        display: block;
        background-image: url(../img/bg1.png);
        width:100%;
        height: 100%;
        background-size: 100%;   
        background-repeat: no-repeat; 
        overflow: hidden;
        z-index: -1;
    }
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 62px 32px 79px 63px;
    &-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        font-family: 'brevia', sans-serif;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 4.5px;
        line-height: 33px;
        flex-basis: 83%;
        li:last-child {
            border-right: 3px solid $light-green;
        }
        &__item {
            padding-left: 61px;
            padding-right: 87px;
            border-left: 3px solid $light-green;           
        }
        &__link {
            color: $light-green;
            text-decoration: none;
        }
    }
 }

.hamburger {
    display: block;
    width: 51px;
    height: 15px;
    span {
        display: block;
        height: 7px;
        width: 100%;
        border-radius: 3px;
        background-color: $light-green;
        margin-bottom: 3px;
        transition: 0.5s all;
    }
}
.main-block {
    &__logo {
        display: block;
        width: 277px;
        height: 105px;
        background-image: url(../img/Logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0 auto;
        transform: translateX(7px);
        }
    h1 {
        transform: translateX(9px);
        text-align: center;
        color: $light-color;
        text-transform: uppercase;
        margin-top: 55px;
        font-size: 130px;
        letter-spacing: 11px;
        span {
            font-weight: 400;
            letter-spacing: 9px;
                }
    }
    &__line {
        width: 890px;
        border: 1px solid $light-color;
        display: block;
        margin: 10px auto 0;
        transform: translateX(16px);
     }
     &__subtitle {
        text-align: center;
        text-transform: uppercase;
        font-size: 42px;
        color: #49c9d4;
        font-weight: 500;
        margin-top: 88px;
        letter-spacing: 1px;
        transform: translatex(14px);
     }
     p {
        text-align: center;
        display: block;
        margin: 23px auto 24px;
        font-weight: 300;
        font-size: 33px;
        color: #49c9d4;
        line-height: 40px;
        letter-spacing: 0.8px;
        transform: translateX(23px);
        }
        &__btn {
            display: block;
            margin: 0 auto;
            text-align: center;
            text-decoration: none;
            color: $dark-green;
            background-color: $light-color;
            max-width: 134px;
            padding: 10px 2px 4px 8px;
            transform: translateX(14px);
            font-family: 'brevia', sans-serif;
            font-weight: 500;
            font-size: 29px;
            box-shadow: inset 0 2px 0px 0px #99a2a7, inset 0 -2px 0 0px #99a2a7;
            margin-bottom: 50px;    
        }
}

.page-goals {
    position: relative;
    min-height: 825px;
    padding-bottom: 480px;
    &__background {
        background-image: url(../img/bg2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        min-height: 1794px;
        position: absolute;
        top: -380px;
        left:0px;
        z-index: -2;
    }
}
.block-philosophy { 
    &__title {
        position: relative;
        text-transform: uppercase;
        color: $dark-green;
        text-align: center;
        font-size: 73px;
        font-weight: 500;
        letter-spacing: 10px;
        transform: translateX(13px);
        padding-top: 146px;
        &::before {
            content: "";
            background-image: url(../img/Polygon.svg);
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            width: 38px;
            height: 55px;
            position: absolute;
            left: 20.4%;
            bottom: 23px; 
            transform: rotate(180deg);
        }
        &::after {
            content: "";
            background-image: url(../img/Polygon.svg);
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            width: 38px;
            height: 55px;
            position: absolute;
            left: 75%;
            bottom: 17px;
        }
    }
    &__line {
        width: 641px;
        border: 2px solid $light-green;
        display: block;
        margin: 18px auto 0;
        transform: translateX(5px);

    }
    &__descr {
        font-size: 31px;
        font-weight: 400;
        column-count: 2;
        margin: 86px auto 0;
        max-width: 1372px;
        line-height: 40px;
        column-gap: 76px;
        letter-spacing: 1.8px;
        p:nth-child(1){
            text-align: right;
        }
    }
    &__btn {
        margin: 44px 173px auto auto;
        color: #fff;
        background-color: #3f505a;
        max-width: 206px;
        padding: 14px 4px 12px 16px;
        display: block;
        text-align: center;
        text-decoration: none;
        transform: translateX(14px);
        font-family: 'brevia', sans-serif;
        font-weight: 500;
        font-size: 29px;
        box-shadow: inset 0 2px 0px 0px #99a2a7, inset 0 -2px 0 0px #99a2a7
    }

}
.page-posts {
    position: relative;
    min-height: 1790px;
    &__background {
        position: absolute;
        top: -247px;
        z-index: -1;
        background-image: url(../img/bd_posts.png);
        width:100%;
        min-height: 1960px;
        background-size: 100%;   
        background-repeat: no-repeat; 
        overflow: hidden;
    }
}
.block-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        width: 325px;
        margin-top: 48px;
        transform: translate(56%, -4.4%);
    &:nth-child(1) {
        transform: translate(-57%, 16%);
    }
    &:nth-child(2) {
        transform: translate(-2.5%, 3%);
        }
    }
    &__title{
        text-transform: uppercase;
        font-size: 40px;
        color: $light-green;
        text-align: center;
        margin-left: -3px;
        margin-bottom: 16px;
        line-height: 45px;
        letter-spacing: 0px;

    }
    &__img {
        img {
            width: 323px;
            object-fit: cover;
        }
    }
    &__descr {
        display: block;
        color: $light-color;
        margin-top: 21px;
        font-size: 28px;
        line-height: 39px;
        letter-spacing: 1px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    &__btn {
        display: block;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        max-width: 169px;
        border-radius: 3px;
        padding: 7px 0px 8px 8px;
        transform: translateX(5px);
        box-shadow: none;
        font-weight: 300;
        letter-spacing: 2.5px;
        font-size: 28px;
        color: $dark-green;
        background-color: $light-green;
        &::before {
            content: "";
            background-image: url(../img/Polygon.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            display: block;
            width: 36px;
            height: 42px;
            position: absolute;
            left: -59px;
            top: 0px;
            transform: rotate(180deg);
                }
    }
}
.arrows {
    position: relative;
    span {
        background-image: url(../img/Polygonwhite.svg);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 77px;
        height: 62px;
    }
    &_up1 {
        position: absolute;
        top: 132px;
        right: 212px;
        transform: rotate(33deg);
    }
    &_up2 {
        position: absolute;
        top: 176px;
        right: 147px;
        transform: rotate(33deg);
    }
    &_down {
        position: absolute;
        top: 110px;
        right: 133px;
        transform: rotate(-27deg);
    }
}
.block-blog{
    padding-bottom: 135px;

    h3{
        display: block;
        max-width: 760px;
        text-align: center;
        text-transform: uppercase;
        color: $dark-green;
        font-size: 57px;
        font-weight: 500;
        letter-spacing: 5px;
        border: 5px solid $dark-green;
        border-radius: 5px;
        margin: 2px auto 73px;
        padding: 17px 86px 20px 42px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0px 20px;
    }
    &__text {
        margin-top: 22px;
    }
    &__descr {
        flex-basis: 50.5%;
        p {
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 1.8px;
            line-height: 48px;
        }
        }        
    &__img {
        flex-basis: 46.2%;
        margin-top: 18px;
        img {
            width: 575px;
            height: 531px;
        }
    }
    &__link {
        position: relative;
        text-decoration: none;
        color: $light-green;
        display: block;
        margin-top: 105px;
        margin-left: 81px;
        font-size: 30px;
        letter-spacing: 4px;
        &::before {
            content: "";
            background-image: url(../img/Polygondark.svg);
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            width: 44px;
            height: 51px;
            position: absolute;
            left: -74px;
            top: -8px;          
        }
    }
}
.page-sale {
    position: relative;
    min-height: 1000px;
    margin-top: 78px;
    &__background {
        background-image: url(../img/bgsale.png);
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 1197px;
        position: absolute;
        top: 139px;
        left: 0px;
        z-index: -1;
    }
}
.block-sale {
    overflow: hidden;
    &-boxes {
        display: flex;
        justify-content: space-between;
        &__img {
            position: relative;
            display: block;
            background-image: url('../img/citation_img.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 792px;
            &::before {
                content: "";
                background-image: url(../img/Polygondark.svg);
                background-size: contain;
                background-repeat: no-repeat;
                display: block;
                width: 99px;
                height: 75px;
                position: absolute;
                right: 97px;
                bottom: -64px;
                transform: rotate(112deg);
                    }
            
        }
        &__text {
            position: relative;
            display: block;
            margin: 0 auto;
            width: 792px;
            height: 550px;
            background-color: $dark-green;
            margin-left: 50px;
            p {
                color: $light-color;
                font-size: 38px;
                font-weight: 400;
                letter-spacing: 0.7px;
                line-height: 73px;
                padding: 96px 83px 0 121px;
                text-align: center;
            }
        }
        &-author {
            position: absolute;
            bottom: 73px;
            right: 73px;
            color: $light-color;
            font-size: 36px;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 55px;
            &::before {
                content: "";
                background-image: url(../img/Polygonwhite.svg);
                background-size: contain;
                background-repeat: no-repeat;
                display: block;
                width: 37px;
                height: 39px;
                position: absolute;
                left: -63px;
                top: 0px;
                transform: rotate(121deg);
                    }
        }
    }
    &-text {
        h2 {
            text-align: center;
            background-color: $dark-green;
            color: $light-color;
            max-width: 430px;
            margin: 164px auto 0;
            font-size: 98px;
            text-transform: uppercase;
            letter-spacing: 15px;
            padding: 32px 0px 24px 0px;
        }
        &__subtitle {
            text-align: center;
            background-color: $light-color;
            color: $dark-green;
            max-width: 688px;
            margin: 0px auto;
            font-size: 53px;
            text-transform: uppercase;
            letter-spacing: 5px;
            padding: 21px 0px 7px 0px;
        }
        &__proposal {
            position: relative;
            text-align: center;
            color: $dark-green;
            margin: 48px auto 0;
            font-size: 59px;
            text-transform: uppercase;
            letter-spacing: 5px;
            padding-left: 12px;
            &::before {
                content: "";
                background-image: url(../img/Polygondark.svg);
                background-size: contain;
                background-repeat: no-repeat;
                display: block;
                width: 45px;
                height: 51px;
                position: absolute;
                left: 32%;
                top: 0px;
                    }
            &::after {
                content: "";
                background-image: url(../img/Polygondark.svg);
                background-size: contain;
                background-repeat: no-repeat;
                display: block;
                width: 45px;
                height: 51px;
                position: absolute;
                left: 65%;
                top: 0px;
                transform: rotate(180deg);
            }
         }

         &__descr {
            text-align: center;
            background-color: $dark-green;
            color: $light-color;
            max-width: 322px;
            margin: 24px auto;
            font-size: 35px;
            font-family: 'brevia', sans-serif;
            font-weight: 400;
            letter-spacing: 1.95px;
            padding: 11px 0px 21px 2px;
         }
    }
}
.block-frees {
    display: flex;
    justify-content: space-around;
    padding-bottom: 52px;
    margin-top: 178px;
    padding-left: 57px;

    &__item {
        flex-basis: 27.4%;
        h3 {
            text-transform: uppercase;
            color: $dark-green;
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 13px;
            letter-spacing: 2px;
        }
        img {
            width: 363px;
        }
        p {
            color: $dark-green;
            font-size: 34px;
            font-weight: 300;
            line-height: 48px;
            margin-top: 13px;
            margin-bottom: 20px;
        }
    }
    &__btn {
        display: block;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        max-width: 179px;
        border-radius: 3px;
        padding: 12px 0px 8px 8px;
        transform: translateX(-45px);
        box-shadow: none;
        font-weight: 300;
        letter-spacing: 2.5px;
        font-size: 28px;
        color: $light-color;
        background-color: $light-green;
        &::before {
            content: "";
            background-image: url(../img/Polygon.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            display: block;
            width: 46px;
            height: 55px;
            position: absolute;
            left: -71px;
            top: 0px;
            transform: rotate(180deg);
                }
    }
}
.page-method {
    position: relative;
    margin-top: 20px;
    &__background {
        background-image: url(../img/bgmethod.png);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: -1;
        display: block;
        width: 100%;
        height: 847px;
        position: absolute;
    }
}
.block-methodology {
    &__title {
        text-transform: uppercase;
        padding-top: 139px;
        text-align: center;
        font-size: 55px;
        letter-spacing: 4px;
        color: $light-green;
    }
    &__line {
        width: 527px;
        border: 1px solid $light-green;
        display: block;
        margin: 15px auto 0;
    }
    &__descr {
        font-size: 26px;
        font-weight: 300;
        column-count: 2;
        margin: 59px auto 0;
        line-height: 39px;
        column-gap: 99px;
        letter-spacing: 1.6px;
        color: $light-color;
        p:nth-child(1){
            text-align: right;
        }
        p:nth-child(2){
            padding-left: 9px;
        }
    }
    &__btn {
        display: block;
        text-align: center;
        text-decoration: none;
        color: $dark-green;
        background-color: $light-color;
        padding: 8px 0px 8px 0px;
        font-family: 'brevia', sans-serif;
        font-weight: 500;
        font-size: 28px;
        margin: 50px auto 0;
        max-width: 181px;
    }
}
.page-yoga {
    position: relative;
    z-index: -2;
    min-height: 662px;
    &__background {
        background-image: url(../img/bg_theraphy.png);
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        width: 100%;
        height: 1000px;
        position: absolute;
    }
}
.block-yoga {
    position: relative;
    
    &__wrapper {
        text-align: center;
        padding-left: 20%;
        padding-top: 12%;
    }
    ul {
        display: block;
        text-decoration: none;
        list-style-type: none;
        font-size: 48px;
        font-weight: 500;
        letter-spacing: 11px;
        line-height: 70px;
        li {
            position: relative;
            &::before    {
                content: "";
                background-image: url(../img/Polygon.svg);
                background-size: contain;
                background-repeat: no-repeat;
                display: block;
                width: 36px;
                height: 39px;
                position: absolute;
                left: 35.5%;
                top: 12px;
                transform: rotate(-12deg);
            }    
        }                 
    }
    h3 {
        
        text-align: center;
        font-size: 55px;
        font-weight: 500;
        text-transform: uppercase;
        color: #49c9d4;
        margin-top: 30px;
        margin-left: 56px;
        letter-spacing: 2px;
    }
    &__line {
        width: 363px;
        border: 1px solid #49c9d4;
        display: block;
        margin: -2px 38% 0;

    }
}
.footer {
    position: relative;
    &__background {
        background-image: url(../img/footerbg.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 499px;
        position: absolute;
        z-index: -2;
        // top: -126%;
    }
    
    .wrap__footer {
        display: flex;
        padding-top: 305px;
    }
   h3 {
    position: relative;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 9px;
    margin-top: 7px;
    &::before {
        content: "";
        background-image: url(../img/Polygondark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 30px;
        height: 41px;
        position: absolute;
        left: 11%;
        top: -2px;
    }
   }   
   p {
    color: $light-color;
    text-align: center;
    max-width: 436px;
    margin-top: 21px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'brevia', sans-serif;
    line-height: 27px;

   }
   &-contact {
    flex-basis: 34%;
    margin-left: 4%;
    h3 {
        margin-left: 1%;
        &::before {
            left: 8%;
        }
    }

   }
   &-about {
    margin-left: 1%;
    flex-basis: 34%;
    h3 {
        margin-left: 6%;
        &::before {
            left: 15%;
        }
    }    
   }
   &-followus {
    flex-basis: 35.5%;
    margin-top: 2px;
    h3 {
        margin-left: 6%;
        &::before {
            left: 2%;
        }
    }
    &-icons {
        margin-top: 20px;
        margin-left: 127px;
        display: flex;
        justify-content: flex-start;  
        .fab {
            font-weight: 400;
            font-size: 30px;
            border: 2px solid $light-color;
            border-radius: 100%;
            padding: 6px;
            color: $light-color;
            margin-right: 21px;
            margin-top: 7px;
            margin-left: 8px;
        }  
        .fa-facebook-f {
            padding: 6px 12px 6px 12px;
        }
   }
}
&-contact, &-about {
    p {
        border-right: 10px solid #fff;
        border-radius: 2px;
        padding-right: 31px;
        padding-bottom: 13px; 
     }
  
}
}