<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <script src="https://kit.fontawesome.com/85f09a4961.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.typekit.net/syb4don.css">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <div class="page-main">
            <div class="page-main__background"></div>
            <div class="wrap">
            <div class="header">
                <ul class="header-list">
                    <li class="header-list__item"><a href="#" class="header-list__link">HOME</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">ABOUT</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">BLOG</a></li>
                    <li class="header-list__item"><a href="#" class="header-list__link">CONTACT</a></li>
                </ul>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
                <div class="main-block">
                    <a href="#" class="main-block__logo"></a>
                    <h1>Yoga<span>classes</span></h1>
                    <div class="main-block__line"></div>
                    <h3 class="main-block__subtitle">body harmony</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Quis ipsum <br> suspendisse  ultrices gravida. Risus commodo viverra maecenas <br> accumsan  lacus vel facilisis. </p>
                    <a href="#" class="main-block__btn">More</a>
                </div>
            </div>
        </div>

         <div class="page page-goals">
            <div class="page-goals__background"> </div>
            <div class="wrap">     
                <div class="block-philosophy">
                    <h2 class="block-philosophy__title">our philosophy</h2>
                    <div class="block-philosophy__line"></div>
                    <div class="block-philosophy__descr">
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maece-<br>nas accumsan lacus vel facilisis. </p>
                        <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maece-<br>nas accumsan lacus vel facilisis. 
                        </p>
                    </div>
                    <a href="#" class="block-philosophy__btn"> Read More</a>
                </div>
            </div>
        </div>

        <div class="page page-posts">
            <div class="page-posts__background"></div>
            <div class="wrap">
                <div class="block-posts">
                    <div class="block-posts__item">
                        <div class="block-posts__title">first Class <br>
                            Free</div>
                        <div class="block-posts__img"><img src="../img/news_freeclass.png" alt=""></div>
                        <div class="block-posts__descr">Lorem ipsum <br>
                            dolor sit amet, <br> consectetuer adipiscing <br>elit, seddiam <br>nonummyeuismod <br>tincidunt ut laoreet dolore <br>magna aliquam</div>
                        <div class="block-posts__btn">Read More</div>
                    </div>
                    <div class="block-posts__item">
                        <div class="block-posts__title">harmony <br>
                            your body</div>
                        <div class="block-posts__img"><img src="../img/news_body.png" alt=""></div>
                        <div class="block-posts__descr">Lorem ipsum <br>
                            dolor sit amet, <br> consectetuer adipiscing <br>elit, seddiam nonummy- <br>euismod tincidunt ut <br>laoreet dolore magna aliquam</div>
                        <div class="block-posts__btn">Read More</div>
                    </div>
                    <div class="block-posts__item">
                        <div class="block-posts__title">yoga for <br>
                            beginners</div>
                        <div class="block-posts__img"><img src="../img/news_beginners.png" alt=""></div>
                        <div class="block-posts__descr">Lorem ipsum <br>
                            dolor sit amet, <br> consectetuer adipiscing <br>elit, seddiam nonummy- <br>euismod tincidunt ut <br>laoreet dolore magna aliquam</div>
                        <div class="block-posts__btn">Read More</div>
                    </div>
            </div>

        <div class="arrows">
            <span class="arrows_up1"></span>
            <span class="arrows_up2"></span>
            <span class="arrows_down"></span>
        </div>
        </div>
 </div> 
 <div class="page">
    <div class="wrap">
        <div class="block-blog">
            <h3 class="block-blog__title">yoga for beginners</h3>
            <div class="block-blog__wrapper">
                <div class="block-blog__descr">
                    <div class="block-blog__text">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.  </p>
                        <p> Lorem ipsum dolor sit amet. consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                    <a href="#" class="block-blog__link">Read More</a>
                </div>
                <div class="block-blog__img"><img src="../img/blog_namaste.png" alt=""></div>
            </div>
        </div>
    </div>
</div>  

<div class="page page-sale">
    <div class="page-sale__background"></div>
    <div class="wrap wrap_sale">
        <div class="block-sale">
            <div class="block-sale-boxes">
                <div class="block-sale-boxes__img"></div>
                <div class="block-sale-boxes__text">
                    <p>“ Your strenght is how calmly, quietly and peacefully<br>
                        you face life”</p>
                    <div class="block-sale-boxes-author">Yogi B.</div>
                </div>
            </div>
            <div class="block-sale-text">
                <h2 class="block-sale-text__title">yoga</h2>
                <p class="block-sale-text__subtitle">registration open</p>
                <p class="block-sale-text__proposal">Get 15% Off</p>
                <p class="block-sale-text__descr">Sign Up Now</p>
            </div>
        </div>
    </div>
</div> 
<div class="page">
    <div class="wrap">
        <div class="block-frees">
            <div class="block-frees__item">
                <h3>first Class Free</h3>
                <img src="../img/freeclasses_1.png" alt="">
                <p>Lorem ipsum <br>
                    dolor sit amet, con <br> sectetuer adipiscing elit</p>
                <a href="#" class="block-frees__btn">Read More</a>
            </div>
            <div class="block-frees__item">
                <h3>first Class Free</h3>
                <img src="../img/freeclasses_2.png" alt="">
                <p>Lorem ipsum <br>
                    dolor sit amet, con <br> sectetuer adipiscing elit</p>
                <a href="#" class="block-frees__btn">Read More</a>
            </div>
            <div class="block-frees__item">
                <h3>first Class Free</h3>
                <img src="../img/freeclasses_3.png" alt="">
                <p>Lorem ipsum<br>
                    dolor sit amet, con <br> sectetuer adipiscing elit</p>
                <a href="#" class="block-frees__btn">Read More</a>
            </div>
        </div>
    </div>
</div>
 <div class="page page-method">
    <div class="page-method__background"></div>
    <div class="wrap wrap_sale">
        <div class="block-methodology">
            <h2 class="block-methodology__title">our methodology</h2>
            <div class="block-methodology__line"></div>
            <div class="block-methodology__descr">
                <p>Lorem ipsum dolor sit amet, consectetuer adip-<br>iscing elit, sed diam nonummy nibh euismod tinci-<br>dunt ut laoreet dolore magna aliquam erat volut-<br>pat. Ut wisi enim ad minim veniam, quis nostrud <br>exerci tation ullamcorper suscipit lobortis nisl ut <br> aibrquip ex ea commodo consequat. Duis autem <br>vel eum iriure dolor in hendrerit in vulputate velit<br> esse molestie consequat, vel illum dolore eu feu<br>giat nulla facilisis at vero eros et accumsan et 
                </p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipisc-<br> elit, sed diam nonummy nibh euismod tinci-<br>dunt ut laoreet dolore magna aliquam erat volut-<br>pat. Ut wisi enim ad minim veniam, quis nostrud <br>exerci tation ullamcorper suscipit lobortis nisl ut ali-<br>quip ex ea commodo consequat. Duis autem vel <br> eum iriure dolor in hendrerit in vulputate velit esse <br>molestie consequat, vel illum dolore eu feugiat <br>nulla facilisis at vero eros et accumsan et  iusto odio</p>
            </div>
            <a href="" class="block-methodology__btn">Read More</a>
        </div>
    </div>
</div> 

<div class="page page-yoga">
    <div class="page-yoga__background"></div>
    <div class="wrap wrap_sale">
        <div class="block-yoga">
            <div class="block-yoga__wrapper">
                <ul>
                    <li>Inhale</li>
                    <li>Exhale</li>
                </ul>
                <h3 class="block-yoga__title">Yoga therapy</h3>
                <div class="block-yoga__line"></div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer__background"></div>
    <div class="wrap wrap__footer">
        <div class="footer-contact">
            <h3>Contact</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
        <div class="footer-about">
            <h3>About</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
        </div>
        <div class="footer-followus">
            <h3>Follow us</h3>
            <div class="footer-followus-icons">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
</div>
       
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>

        <script>
            window.addEventListener('DOMContentLoaded', () => {
           const menu = document.querySelector('.header-list'),
           menuItem = document.querySelectorAll('.header-list__item'),
           hamburger = document.querySelector('.hamburger');

           hamburger.addEventListener('click', () => {
               hamburger.classList.toggle('hamburger_active');
               menu.classList.toggle('header-list_active');
           });

           menuItem.forEach(item => {
               item.addEventListener('click', () => {
                   hamburger.classList.toggle('hamburger_active');
                   menu.classList.toggle('menu_active');
               });
           });
       });
        </script>
    </body>
</html>
